<%= form_for(@comment) do |f| %>
  <% devise_error_messages! %>
  <%= f.hidden_field :post_id, :value => @comment.post_id %>

  <div><%= f.label "Commentaire : " %><br />
    <%= f.text_field :content%>
  </div>

  <br/>

  <div><%= f.submit "Envoyer" %></div>
<% end %>
